.roadmap {
	margin: auto;
}
.roadmap h4 {
	font-size: 1.15rem;
}
.roadmap-container {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.roadmap-date {
	overflow: hidden;
	width: 100%;
}
.roadmap-date h4 {
	color: rgba(245, 254, 254, 1);
	background-color: rgb(36, 78, 144);
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 0px;
}

.roadmap-date-left h4 {
	float: left;
	border-radius: 0px 10px 0px 0px;
}

.roadmap-date-right h4 {
	float: left;
	border-radius: 0px 10px 0px 0px;
}

.roadmap-section {
	/* box-shadow: inset 0 0 10px #000000; */
}

.roadmap-section h4 {
	text-transform: uppercase;
}
.roadmap-section p {
	padding: 0 5px;
	font-size: 0.85rem;
	text-align: justify;
	text-indent: 5px;
}

.projection {
	font-size: 0.9rem;
}

.roadmap-section-container {
	background-color: rgba(245, 254, 254, 1);
  box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.75);
	position: relative;
	z-index: 0;
}
.roadmap-section-container-right {
	border-radius: 0px 15px 15px 15px;
}
.roadmap-section-container-left {
	border-radius: 0px 15px 15px 15px;
}

.roadmap-text {}
.date-container {
}
.date-text {	
	text-transform: uppercase;
	background-color: rgba(245,254,254,1);
	border-radius: 15px;
	padding-left: 5px;
	padding-right: 5px;
}
@-webkit-keyframes pulse {
  0% { box-shadow:0 0 8px rgba(245, 254, 254, 1), inset 0 0 8px rgba(245, 254, 254, 1); }
  50% { box-shadow:0 0 16px rgba(245, 254, 254, 1), inset 0 0 14px rgba(245, 254, 254, 1); }
  100% { box-shadow:0 0 8px rgba(245, 254, 254, 1), inset 0 0 8px rgba(245, 254, 254, 1); }
}

.roadmap-dot-container {
	
}

.roadmap-dot {
	position: relative;
	margin: auto;
	height: 50px;
	width: 50px;
  border-radius: 50%;
  background-color: rgba(9, 120, 172, 1);
  box-shadow: 0 0 8px rgba(245, 254, 254, 1), inset 0 0 2px rgba(245, 254, 254, 1);
	z-index: 0;
}
.roadmap-dot-left::after {
	content: "";
	position: absolute;
	height: 0px;
	top: 22.5px;
	right: -200%;
	width: 200%;
	border-top: 2.5px solid rgba(245,254,254, 0.75);
	border-bottom: 2.5px solid rgba(245,254,254, 0.75);
	z-index: -1;
}
.roadmap-dot-right::after {
	content: "";
	position: absolute;
	height: 5px;
	top: 22.5px;
	right: -200%;
	width: 200%;
	border-top: 2.5px solid rgba(245,254,254, 0.75);
	border-bottom: 2.5px solid rgba(245,254,254, 0.75);
	background-color: rgba(245,254,254, 0.75);
	z-index: -1;
}
.roadmap-dot p {
  display:block;
  text-align: center;
  line-height: 50px;
  font-weight:100;
	font-size: 16px;
	margin-bottom: 0px;
}
.roadmap-dot svg {
	height: 100%;
	display: block;
	margin: auto;
	z-index: 1;
}

.roadmap-dot-connector {
	margin: 2px auto;
	height: 100%;
	width: 1px;
	border-left: 2.5px dashed rgba(245, 254, 254, 0.25);
	border-right: 2.5px dashed rgba(245, 254, 254, 0.25);
	z-index: -1;
}

@media(min-width: 992px) {
	.roadmap-section-container-left {
		border-radius: 15px 0px 15px 15px;
	}
	.roadmap-dot-left::after {
		left: -200%;
		right: unset;
	}

	.roadmap-date-right h4 {
		float: right;
		border-radius: 10px 0px 0px 0px;
	}

	.roadmap {
		margin: 4rem auto;
	}
	.roadmap-container {
		margin-top: -4rem;
		margin-bottom: -4rem;
	}
	.roadmap-dot-container {
		margin-bottom: 6rem;
	}
}